@charset "UTF-8";


*{  box-sizing: border-box;
    margin: 0;
    padding: 0; }



#prodAdcional{
    display: flex;
    margin-bottom: 20px;
    width:90%;
    padding:20px 30px ;
    border-radius: 10px;    
    
}

#prodAdcional:hover{
    background-color: rgba(255, 255, 255, 0.286);
    transition-duration: 150ms;
    box-shadow: 0 0 1em rgb(255, 124, 1);
}

#crementasao{
    display: flex;
    margin-top: 20px;
    
}

#quantidade{
    width: 80%;
    padding: 15PX 20PX;
 
    

}
#nome{
   font-size: 25PX;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 150%;
}

#crementasao{
   font-size: 25px;
   cursor: pointer;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#crementasao:hover{
    color: red;
    font-size: 30px;
}

#grana{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgb(48, 75, 3);
}

#va{
margin-left: 10px;
margin-right: 10px;


}

.lista2{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#prodAdcional2{
    margin-bottom: 50px ;
    display: flex;
    
}
#prodAdcional2 #imgadd{
    width: 220px;
}

#prodAdcional2 #quantidade{
    margin-top: 20px;
    margin-left: -15px;

}
#prodAdcional2 #excluir{
position: fixed;
margin-left: -20px;
padding: 16px 20px;
opacity: 0;
}