@charset "UTF-8";


*{box-sizing: border-box;
    margin: 0;
    padding: 0;}


.produtos{    

display: inline-flex; 
margin-top: 08%;
flex-wrap: wrap;
row-gap: 5ch;
}

.cartao{

    width: 20%;
    margin-left: 60px;
    background-color: rgba(255, 208, 20, 0.961);
    color: rgb(0, 0, 0);
    padding: 20px 80px;
    margin-top: 25px;
    border-radius: 5px;
}

.cartao:hover{
    background-color: black;
    color: aliceblue;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
outline: thick double  rgb(255, 225, 0);
}

#addi{
    color: aliceblue;
    margin-top: -20px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 800;
    text-align: center;
    width: 40vh;
    margin-left: -20%;
    height: 5vh;
    margin-top: 50px;
    border-radius: 20px;
    
}

#addi:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#status {
margin-top: -50px;
margin-left: -50px;
width: 50%;
}

#status {
    font-size: large;
  font-size: larger;
}

#valor{
    width: 170%;
    font-size: 35px;
    
color: rgb(21, 103, 16);
cursor: pointer;
}

#valor:hover{
    color: red;
}

#nome{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
font-size: 25px;
width: 50%;
cursor: pointer;
margin-left: -30px;
}

#nome:hover{
    color: rgb(211, 231, 220)
    
}

#excluir{
    color: white;
}

#excluir:hover{
    color:darkorange
}


