@charset "UTF-8";

*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none}
    
body{
    color: rgb(255, 255, 255)    ;
    
}

@font-face {
    font-family:'hum';
    src: url(/the_bold_font/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.otf);
}

@font-face {
    font-family:'kopiru';
    src: url(/kopiku/Kopiku.ttf);
}
@font-face {
    font-family: 'acessos';
    src: url(/astonpoliz/Astonpoliz.ttf);
}
@font-face {
    font-family: 'aberto';
    src: url(/ponymaker/PonyMaker.ttf);
}
@font-face {
    font-family: 'ultil';
    src: url(/solari/Solari.ttf);
}
@font-face {
    font-family: 'op';
    src: url(/good_dog/GOODDC__.TTF);
}


#pai {
display: flex;

}

    #primeiraT {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/imagens/fundo_chec.png);
        height: 100vh;
        width: 38.2vw;   
        box-shadow: 0 0 2em rgb(255, 111, 0);
        
    }

    #formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70vh;

    }

    #for1{
        display: flex;
flex-direction: column;    }

#formulario div input{

    height: 45px;
    width: 25vw;
    margin-top: 7px;
    border-radius: 5px;
    
}



    #primeiraT input:hover{
        background-color: whitesmoke;
        border-color:black
    }
    

    #primeiraT2{
        background-color: rgb(255, 166, 0);
        width: 30vw;
        height: 100vh;     
        box-shadow: 0 0 1em rgb(0, 0, 0);
        font-family: "ultil";
    }
    #primeiraT3{
       margin-left:-50px;
        background-color: rgb(235, 235, 235);;
        width: 35vw;
        height: 100vh;     
        box-shadow: 0 0 10em rgb(0, 0, 0);
           
    }

    #valor-total{
         font-size: 30PX;
        margin-top: 50px;
    }

    #butaocompra{
       padding: 10px 135px ;    
       margin-top: 10px;
       font-size: 15px;
       cursor: pointer;
       border-radius: 5px;
           }

    .lista1, .lista2{       
        height: 80vh;
        overflow-x: hidden;    
        padding: 20px 20px;
        color: black;

    }
    .lista1{
        height: 89%;
    }

    .lista1 #prodAdcional #quantidade #grana{
        font-family: "ultil";
    }
    .lista1 #prodAdcional #quantidade #nome{ 
                 font-family: "aberto";        
    }

    .lista2 #prodAdcional2 #quantidade #valores {

        display: flex;
    }

    .lista2 #prodAdcional2 #quantidade #grana, #va{
        font-family: "ultil";
        font-size: 20px;
        margin-left: 10px;
    }
    .lista2 #prodAdcional2 #quantidade #nome{ 
                 font-family: "aberto";    

    }


    #dois{
        width: 150%;
        color: black;
        height: 10vh;
        padding: 16px 20px;
    }
     
    #um{
        color: rgb(0, 0, 0);    
        background-color: rgb(235, 235, 235);       
        height: 10vh; 
        padding: 16px 20px;
        font-family: "ultil";
    }
 
    #imgadd{
        height: 150px;
        width: 160px;
    
    }
    
.lista2{
    display: flex;
    flex-direction: column;
    align-items:end;
    overflow-y:scroll; 
    background-color: rgb(235, 235, 235);

}

#crementar{
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 20px;
    cursor: pointer;
    
}

#crementar:hover{
    font-size: 40px;

}


/*  validaçao de formulario*/

.vazil{
    border-color: red;
    border-style:outset;
}

.spans{
font-family: Arial, Helvetica, sans-serif;
   color: red; 
   margin-left: 30PX;
}