@charset "UTF-8";

*{box-sizing: border-box;
    margin: 0;
    padding: 0;}
    
body{
    color: rgb(255, 255, 255)    ;
    
}


#pai form{
    position: relative;
    display: flex;
}

    #primeiraT {
        position: relative;
        padding: 200px 100px;
        background-image: url(/imagens/fundo_chec.png);
        background-size: cover;
        height: 100vh;
        font-size: 20px;
        width: 38.2vw;   
        box-shadow: 0 0 2em rgb(255, 111, 0);
        border-radius: 10px;
    }
    #primeiraT2{
        background-color: rgb(255, 166, 0);
        width: 30vw;
        height: 100vh;     
        box-shadow: 0 0 1em rgb(0, 0, 0);
        
    }
    #primeiraT3{
       margin-left:-50px;
        background-color: rgb(235, 235, 235);;
        width: 35vw;
        height: 100vh;     
        box-shadow: 0 0 10em rgb(0, 0, 0);
           
    }

    #valor-total{
         font-size: 30PX;
        margin-top: 50px;
    }

    #butaocompra{
       padding: 10px 20px ;    
       margin-top: 30px;
       font-size: 25px;
       cursor: pointer;
       border-radius: 20px;
    }

    .lista1, .lista2{       
        height: 80vh;
        overflow-x: hidden;    
        padding: 20px 20px;
        color: black;

    }
    .lista1{
        height: 89%;
    }

    #dois{
        width: 150%;
        color: black;
        height: 10vh;
        padding: 16px 20px;
    }
     
    #um{
        color: rgb(0, 0, 0);    
        background-color: rgb(235, 235, 235);       
        height: 10vh; 
        padding: 16px 20px;
    }
    
    #primeiraT input{
     font-size: 20px;
        padding: 10px 40px ;
        margin-top: 10px;
    }

    #imgadd{
        height: 150px;
        width: 160px;
    
    }
    
.lista2{
    display: flex;
    flex-direction: column;
    align-items:end;
    overflow-y:scroll; 
    background-color: rgb(235, 235, 235);

}

#crementar{
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 20px;
    cursor: pointer;
    
}

#crementar:hover{
    font-size: 40px;
}