@charset "UTF-8";

*{box-sizing: border-box;
    margin: 0;
    padding: 0;}
    

body{
    background-color: black;
    color: aliceblue;
    display: inline-block;
   
}

.container{
    width: 100%;
    max-width: 1080px;

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    margin-right: 70%;
    font-size: 50px;

}

.container header{
    display: flex;
    position: fixed;
    padding: 10px 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 101%;
    background-color: black;
}

.container .lista .list-ind{
display: flex;
align-items: center;
margin-left: 200px;
}

li{
    list-style: none;
}

.container .lista .list-ind a{
    text-decoration: none;
    margin-left:30px;
    font-size: 20px;
    color: rgb(245, 245, 245);
    
}
.container .lista .list-ind a:hover{
    color:  rgba(255, 230, 0, 0.769);

}

#carrinho{
    position: absolute;
    margin-right: -1000px;

}
#carrinho img{
    height: 40px;

    
}
#carrinho:hover{
    background-color:  rgb(255, 255, 255);

}

#carrinho{
cursor: pointer;
}

#campo{
    position: relative;
}



.container .menucarrinho , #campo{

    background-color: rgba(0, 0, 0, 0.938);
    height:67vh;
    width: 20vw;
    top: 90px;
    position:fixed;
    right: -100%;
    transition: 500ms;
    overflow-x: hidden;

}
.container .menucarrinho.abrirCarrinho, #campo.abrirCarrinho {
    right: 0px;
    transition: 500ms;
    border-radius: 10px;


}


#finalizar{
    position: fixed;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: goldenrod;
    color: rgb(255, 239, 239);
    font-size: 20px;
    cursor: pointer;   
    margin-top: 33%;
    border-style: none;
    margin-left: 30px;
}

#finalizar:hover{
   
    background-color: rgb(255, 255, 255);
    color:goldenrod   
}

#campo{
    height: 82vh;
    
    box-shadow: 0 0 1em rgb(255, 187, 0);

}


#imgProncipal{
    
    width: 310px;
    height: 210px;
    margin-left: 43px;
}

#prodnocarrinho{
    margin-left: 20px;
    margin-top: 25px;
    width: 89%;
    color: rgb(0, 95, 13);
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(255, 200, 106);
    border-radius: 20px;
    outline: thick double  rgb(255, 196, 0);

}



.menucarrinho{

    overflow-y: scroll;
}
    


#area{
    background-image: url(/imagens/fundo2.png);
    background-size: 850px 300px;
    height: 40vh;
    width: 99vw;
}

#degrader{
    margin-top: -02px;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 10vh;
    margin-left: -10px;
}

#listaRoda{
    margin-top: 50px;
    width: 50%;
    height: 20vh;
}

#listaRoda h2{
    font-size: 30px;
    text-align:end;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#listaRoda li a{
    font-size: 20px;
    color: rgb(255, 208, 0);
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
#listaRoda li a:hover{
    color: bisque;
}


#listaRoda li {   
     margin-top: 30px;
     
    }

    #rodaLIsta {

        display: flex;
    }


    #rodaLIsta li{
        margin-left: 50px;
    }

    #infor{
        height: 70vh;
        display: flex;
        width: 95vw;
    }

    #infor li{
        margin-left: 60px;
        font-size: 20px;
        padding: 26px 40px;
        margin-top: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 30%;
    }

    #infor li p{
        margin-top: 5px;
    }

    #inicio{
        height: 100vh;
    }

    #formas{
        margin-top: 30px;
        height: 110px;
        
    }

    #contatos {
        display: inline-block;
      
     
    }
    #contatos p{
       font-size: x-large;
    }
        
    

    #contatos img{
        margin-top: 20px;
        height: 50px;
        transition: 250ms;
    }

    #contatos img:hover{
        
        height: 60px;
        
    }

    #local {
       height: 250px;
       width: 450px;
       
    }
    
    #locau{
        height: 40px;
          }
        
        

    #end p{

        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    li{   font-size: x-large;
    }

    #horas li {
        width: 50%;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


   