@charset "UTF-8";

*{box-sizing: border-box;
    margin: 0;
    padding: 0;}
    

body{
    background-color: black;
    color: aliceblue;
    display: inline-block;
}

.container{
    width: 100%;
    max-width: 600px;
    
}

h1{
    position: absolute;
    margin-right: 70%;
    font-size: 50px;
}

.container header{
    display: flex;
    position: fixed;
    padding: 10px 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 101%;
    background-color: black;
}

.container .lista .list-ind{
display: flex;
align-items: center;
margin-left: 200px;
}

li{
    list-style: none;
}

.container .lista .list-ind a{
    text-decoration: none;
    margin-left:30px;
    font-size: 20px;
    color: whitesmoke;
    
}
.container .lista .list-ind a:hover{
    color:  rgba(0, 204, 255, 0.769);

}

#carrinho{
    position: absolute;
    margin-right: -50%;

}
#carrinho img{
    height: 30px;

    
}
#carrinho:hover{
    background-color:  rgba(0, 204, 255, 0.769);

}

#carrinho{
cursor: pointer;
}

.container .menucarrinho{
    background-color: rgba(0, 0, 0, 0.918);
    height:95%;
    width: 19vw;
    top: 70px;
    position:fixed;
    right: -100%;
    transition: 500ms;
    outline: thick double  rgba(0, 204, 255, 0.769);
}
.container .menucarrinho.abrirCarrinho{
    right: 0%;
    transition: 500ms;
    border-radius: 10px;
}

#imgcartao{
    width: 250px;
    height: 150px;

}

#prodnocarrinho{
    
    background-color: rgba(12, 182, 197, 0.18);
    padding: 40px;
    margin-top: 1px;
    border-radius: 25px;

    
}


    