<section>    
    <div  class="container">
        
        <header>
            <h1> GABS BURGS </h1>
            <nav class="lista">
                <ul class="list-ind">    
                <li><a href="/">inicio</a></li>
                <li><a href="menu">menu</a></li>
                <li><a href="endereco">endereço</a></li>
                <li><a href="pedidos">acompanhar_pedidos</a></li>
                </ul>
            </nav>
                <p id="carrinho"><img class="carrinho" src="/imagens/carrinho.png" alt=""></p>
        </header>
    
    <article id="campo" >
        <div class="menucarrinho">      
        </div>

        <p id="total">300</p>
        <a href="/checkout"><input id="finalizar" type="submit" value="finalizar pedidos" ></a>       
        
    </article>

    </div>
    </section>
    