<div id="opcoes">

    <li id="1"><a href="/menu">HAMBURGUE</a></li>
    <li id="2"><a href="/pizza">PIZZA</a></li>
    <li id="3"><a href="/bebidas">BEBIDAS</a></li>
    <li id="4"><a href="/combos">COMBOS e PROMOÇOES</a></li>
    <li id="5"><a href="/hotdogs">HOT DOG</a></li>
    
</div>