<div id="opcoes">

    <li id="umH"><a href="/menu">Burger</a></li>
    <li id="2"><a href="/doce">Burger doce</a></li>
    <li id="3"><a href="/combos">Combos</a></li>
    <li id="4"><a href="/promocoes">Promoçoes</a></li>
    <li id="5"><a href="/Fritas">Fritas</a></li>
    
</div>