<button id="fim">
    <section id="area" >
        <div id="degrader"></div>
        <ul id="listaRoda">
            
            <h2>Mapa da loja</h2>
            
          <div id="rodaLIsta">
            <li><a href="/">inicio</a></li>
            <li><a href="menu">menu</a></li>
            <li><a href="endereco">endereço</a></li>
            <li><a href="contatos">contato</a></li>
        </div>  
        </ul>
    </section>

    <section id="infor">
        <LI>ENDEREÇO
            <p>Lorem ipsum, dolor so repudiandae numquam eius, laborum facilis,s, fugit debitis adipisci at perspiciatis!</p>
        </li>
        <li>CONTATOS
            <p>Lorem ipsum, dolor so repudiandae numquam eius, laborum facilis,s, fugit debitis adipisci at perspiciatis!</p>
        </li>
        <li>HORARIOS DE FUNCIONAMENTO
            <p>Lorem ipsum, dolor so repudiandae numquam eius, laborum facilis,s, fugit debitis adipisci at perspiciatis!</p>
        </li>
        <li>FORMAS DE PAGAMENTO
            <p>Lorem ipsum, dolor so repudiandae numquam eius, laborum facilis,s, fugit debitis adipisci at perspiciatis!</p>
        </li>
    </section>
    <SEction style="background-color: darkgrey; color: black;">LOJA DESENVOLVIDA POR WILLY THIAGO </SEction>
</button>