<button id="fim">
    <section id="area" >
        <div id="degrader"></div>

        <ul id="listaRoda">
          <h2>Mapa da loja</h2>
            
          <div id="rodaLIsta">
            <li><a href="/">inicio</a></li>
            <li><a href="menu">menu</a></li>
            <li><a href="endereco">endereço</a></li>
            <li><a href="contatos">contato</a></li>
        </div>  
        </ul>

    </section>

    <section id="infor">
        <LI id="end">
            <p>ENDEREÇO</p>
               
                <img id="locau" src="/imagens/locau.png" alt="localizaçao"><p>Dra Elízia Silva, Av. Djalma Batista - Nossa Sra. das Graças, Manaus</p>

                <iframe id="local" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d483.81989360670406!2d-60.024674793414405!3d-3.101214552698895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zM8KwMDYnMDQuMCJTIDYwwrAwMScyOC41Ilc!5e0!3m2!1sen!2sbr!4v1713367961561!5m2!1sen!2sbr" 
                width="600" height="450" style="border:0;" allowfullscreen=""
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>  
        </li>
        
        <li id="contatos">
            <p>CONTATOS</p>
            <a href="https://www.instagram.com/" target=”_blank”> <img id="insta" src="/imagens/insta.png" alt="instagram"></a> <br>
            <a href="https://www.facebook.com/" target=”_blank”> <img id="face" src="/imagens/face.png" alt="facebook"></a><br>
            <a href="https://web.whatsapp.com/" target=”_blank”> <img id="whatsapp" src="/imagens/whats.png" alt="whatsapp"></a> 
        </li>
        
        <li id="horas">
            <p>HORARIOS DE FUNCIONAMENTO</p>
             <P id="funcionamento">Das 17:00 as 23:00</P>
             <P id="funcionamento">De Terça a Domingo</P>           
        </li>
     
        <li>FORMAS DE PAGAMENTO
            <p><a href="https://www.flaticon.com/br" target=”_blank”><img  id="formas" src="/imagens/formas.png" alt="formas de pagamento"></a></p>
        </li>
    </section>
    <SEction style="background-color: darkgrey; color: black;">LOJA DESENVOLVIDA POR WILLY THIAGO </SEction>
</button>