<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
            <link rel="stylesheet" href="/stylos/final.css">
            <link rel="stylesheet"  href="/stylos/cartaoChek.css">
</head>
<body>


<main id="inicio">

<section id="pai">
<form action="/finalizando/Compra" method="post">

<article id="primeiraT2">
  <h2 id="dois">ADICIONAIS</h2>
  <div class="lista1">

  </div>
</article>

<article id="primeiraT3">
    <h2 id="um">LISTA DE PEDIDOS</h2>
  <div class="lista2">

  </div>
</article>

<article id="primeiraT">
          <label for="cep">cep</label><br>
    <input type="text" placeholder="digite seu cep" name="cep" ><br> 
         <label for="endereco"> endereço</label>
    <input type="text" placeholder="digite seu endereço"  name="endereco" ><br>
         <label for="estado"> estado</label> 
    <input type="text" placeholder="complemento"  name="complemento" ><br>
         <label for="cidade"> estado</label>    
    <input type="number" placeholder="numero para contato"  name="contato" >
    
    <p id="valor-total" value="valor" ></p>

    <button id="butaocompra" type="submit">finalizar compra </button>
    
</article>

</form>
</section>

</main>



</body>
<script src="/serv/checkout.js"></script>


</html>