<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
            <link rel="stylesheet" href="/stylos/final.css">
            <link rel="stylesheet"  href="/stylos/cartaoChek.css">
</head>
<body>


<main id="inicio">

<section id="pai">

<article id="primeiraT2">
  <h2 id="dois">ADICIONAIS</h2>
  <div class="lista1">

  </div>
</article>

<article id="primeiraT3">
    <h2 id="um">LISTA DE PEDIDOS</h2>
  <div class="lista2">

  </div>
</article>

<article id="primeiraT">
<form id="formulario" action="/finalizando/Compra" method="post">

    <div>
      <input id="nomeF" type="text" placeholder="digite seu nome" name="nome" ><br> 
      <span id="spannomeFO" name="spannomeFO"></span><br>
      <input id="cep" type="number" placeholder="digite seu cep" name="cep" ><br> 
      <span id="spancep" name="spancep"></span><br>
      <input id="endereco" type="text" placeholder="digite seu endereço"  name="endereco" ><br>
      <span id="spanend" name="spanend"></span><br>
    </div>
      
      <div id="for1">        
        <input id="bairro"  type="text" placeholder="digite se bairro" name="bairro">
        <span id="spanbairro" name="spanend"></span><br>
        <input id="numero" type="number"  placeholder="numero do seu endereço"  name="numero" >
        <span id="spanumero" name="spanend"></span><br>
        <input id="complemento" type="text" placeholder="complemento" name="complemento" >
        <span id="spancomp" name="spancomp"></span><br>
        <input id="telefone" type="tel" placeholder=" digite seu numero para contato" name="telefone">
        <span id="spantel" name="spantel"></span><br>
      </div>
  
    <button id="butaocompra" >finalizar compra </button>
        
</form>

</article>
</section>

</main>



</body>
<script src="/serv/checkout.js"></script>


</html>