<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
            <link rel="stylesheet" href="/stylos/final.css">
            <link rel="stylesheet"  href="/stylos/cartaoChek.css">
</head>
<body>


<main id="inicio">

<section id="pai">
<form action="/finalizando/Compra" method="post">

<article id="primeiraT2">
  <h2 id="dois">ADICIONAIS</h2>
  <div class="lista1">

  </div>
</article>

<article id="primeiraT3">
    <h2 id="um">LISTA DE PEDIDOS</h2>
  <div class="lista2">

  </div>
</article>

<article id="primeiraT">

          
    <input type="number" placeholder="digite seu cep" name="cep" ><br> 
    <input type="text" placeholder="digite seu endereço"  name="endereco" ><br>
    
     <div id="localidade">
         <input type="text" id="in3" placeholder="Estado"  name="estado" ><br>
         <input type="text" id="in4" placeholder="Cidade"  name="cidade" >
    </div>

    <input type="text" placeholder="digite se bairro" name="bairro"><br>

    <div id="lol" >
       <input type="number" id="in1" placeholder="numero do seu endereço"  name="numero" >
       <input type="text" id="in2" placeholder="complemento"  name="complemento" >
    </div>
    
    <input type="text" placeholder="digite seu nome completo" name="nome"><br>
    <input type="tel" placeholder=" digite seu numero para contato">
        <button id="butaocompra" type="submit">finalizar compra </button>
        
</article>

</form>
</section>

</main>



</body>
<script src="/serv/checkout.js"></script>


</html>