<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
            <link rel="stylesheet" href="/stylos/cartao.css">
</head>
<body>


<main id="inicio">


</main>

<section>
    <%- include("partials/roda_pe.ejs") %>
</section>


</body>

<%- include("partials/foot.ejs")  %>  

</html>