<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylos/stilos.css">

</head>
<body>

<div  class="container">
    
    <header>
        <h1> GABS BURGS </h1>
        <nav class="lista">
            <ul class="list-ind">    
            <li><a href="#">menu</a></li>
            <li><a href="#">endereço</a></li>
            <li><a href="#">contato</a></li>
            </ul>
        </nav>
            <p id="carrinho"><img class="carrinho" src="/imagens/carrinho.png" alt=""></p>
    </header>


<div class="menucarrinho"></div>
</div>

<script src="/serv/main.js"></script>
</body>

</html>