<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
            <link rel="stylesheet" href="/stylos/cartao.css">
            <link rel="stylesheet" href="/stylos/inicio.css">
</head>
<body>


<main id="inicio">

 
    <article id="baner">
          <img src="/imagens/inicio/ilus1.jpg" alt="" class="selected">
          <img  src="/imagens/inicio/ilus2.jpg" alt="">
          <img  src="/imagens/inicio/lus3.jpg" alt="">
          <img  src="/imagens/inicio/ilus4.jpg" alt="">
    </article>
    
    <article id="play">
        <video   autoplay="autoplay" muted loop>
            <source src="/imagens/inicio/ideo4.mp4" type="video/mp4">
        </video>
    </article>
       
    <section id="menuInicio">
        <%- include("partials/menu_carrinho.ejs")  %>  
    </section>


</main>


<section>
    <%- include("partials/roda_pe.ejs") %>
</section>
</body>
<script src="/serv/inicio.js">

</script>
<%- include("partials/foot.ejs")  %>  

</html>