<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
</head>
<body>

    <%- include("partials/menu_carrinho.ejs")  %>  

    <%- include("partials/roda_pe.ejs") %>
</body>

<%- include("partials/foot.ejs")  %>  

</html>