<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
</head>
<body>

    <%- include("partials/menu_carrinho.ejs")  %>  
<link rel="stylesheet" href="/stylos/cartao.css">
</body>
<%- include("partials/foot.ejs")  %>  


<main>
    <div class="filho">
    
    <article class="cartao">
        <img src="/imagens/_bobscheddarfrango.png" alt="mac">
        <div>
            <p>4 queijo 2 tomates duploamburgue</p>
            <p>R$ 15,85</p>
        </div>
        <p>adicionar</p>
    </article>
    
    <article class="cartao">
        <img src="/imagens/_bobscheddarfrango.png" alt="mac">
        <div>
            <p>4 queijo 2 tomates duploamburgue</p>
            <p>R$ 15,85</p>
        </div>
        <p>adicionar</p>
    </article>
    
    <article class="cartao">
                <img src="/imagens/_bobscheddarfrango.png" alt="mac">
                <div>
                    <p>4 queijo 2 tomates duploamburgue</p>
                    <p>R$ 15,85</p>
                </div>
                <p>adicionar</p>
            </article>
    
            <article class="cartao">
                <img src="/imagens/_bobscheddarfrango.png" alt="mac">
                <div>
                    <p>4 queijo 2 tomates duploamburgue</p>
                    <p>R$ 15,85</p>
                </div>
                <p>adicionar</p>
            </article>
    
            <article class="cartao">
                <img src="/imagens/_bobscheddarfrango.png" alt="mac">
                <div>
                    <p>4 queijo 2 tomates duploamburgue</p>
                    <p>R$ 15,85</p>
                </div>
                <p>adicionar</p>
            </article>
        </div>
        
       
    </main>
</html>