<!DOCTYPE html>
<html lang="pt-br">
<head>
            <%- include("partials/head.ejs")  %>  
</head>
<body>


<link rel="stylesheet" href="/stylos/cartao.css">
</body>
<%- include("partials/foot.ejs")  %>  

          
       
    </main>
</html>